@use "./base/index" as *;
@use "./components/index";

:root {
  font-size: 16px;

  @include rwd_down(desktop) {
    font-size: 14px;
  }
  @include rwd_down(tablet) {
    font-size: 2vw;
  }
}

html {
  width: 100%;
  height: 100%;
  body {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
    color: #ffffff;
    background: #000000;
    font-family: var(--bytesized), Arial, sans-serif;
    @include flex($ff: column, $ai: center);
    svg{
      width: 0;
      height: 0;
    }
  }
}
