section {
  width: 80%;
  margin: 0 auto;
  &.homePage {
    width: 100vw;
    .infoBlock {
      position: absolute;
      background: #000;
      border: 0.5rem solid #fff;
      color: #fff;
      width: 30%;
      max-height: 65vh;
      z-index: 1;
      padding: 1rem;
      overflow: hidden;
      box-sizing: content-box;
      .title {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 5vh;
        .back {
          all: unset;
          cursor: pointer;
          font-size: 1rem;
        }
      }
      .content {
        height: 60vh;
        overflow: scroll;
        padding: 2rem;
        position: relative;
        .myImg {
          width: 9rem;
          height: 10rem;
          margin: 0 auto 2rem;
          display: flex;
          justify-content: center;
          img {
            width: 100%;
            height: 100%;
          }
        }
        .personInfo {
          p,
          > span {
            width: 100%;
            line-height: 2rem;
            display: flex;
            justify-content: space-between;
            a {
              color: #006ae2;
            }
            span{
              width: 75%;
              text-align: right;
            }
          }
          ul {
            list-style: none;
            text-align: right;
            &.skillList{
              color: #cccccc;
            }
          }
        }
        hr {
          border-style: dotted;
          margin: 1rem 0;
        }
      }
      &.right {
        top: 12.5%;
        right: 5%;
      }
      &.left {
        top: 12.5%;
        left: 5%;
      }
      .remind {
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        letter-spacing: 0.25rem;
        animation: opacityText 1s linear infinite;
      }
    }
    .clickScreen{
      position: absolute;
      color: #fff;
      bottom: 2rem;
      left: 50%;
      transform: translateX(-50%);
      letter-spacing: 0.5rem;
      font-size: 1rem;
      animation: opacityText 1.5s ease-in-out infinite;
    }
  }
}

i {
  width: 3.5rem;
  height: 3.5rem;
  display: block;
  &.css {
    background: url("../assets/icons/css.svg") no-repeat center/contain;
  }
  &.github {
    background: url("../assets/icons/github.svg") no-repeat center/contain;
  }
  &.javascript {
    background: url("../assets/icons/javascript.svg") no-repeat center/contain;
  }
  &.nextjs {
    background: url("../assets/icons/nextjs.svg") no-repeat center/contain;
  }
  &.nodejs {
    background: url("../assets/icons/nodejs.svg") no-repeat center/contain;
  }
  &.react {
    background: url("../assets/icons/react.svg") no-repeat center/contain;
  }
  &.scss {
    background: url("../assets/icons/scss.svg") no-repeat center/contain;
  }
  &.typescript {
    background: url("../assets/icons/typescript.svg") no-repeat center/contain;
  }
  &.threejs {
    background: url("../assets/icons/threejs.svg") no-repeat center/contain;
  }
  &.html {
    background: url("../assets/icons/html.svg") no-repeat center/contain;
  }
}

@media (max-width: 1000px) {
  section {
    &.homePage {
      .infoBlock {
        background: rgb(0, 0, 0, 0.4);
        backdrop-filter: blur(0.5rem);
        width: 80%;
        &.right {
          top: 20%;
          right: 7.5%;
        }
        &.left {
          top: 20%;
          left: 7.5%;
        }
      }
    }
  }
}
@media (max-width: 768px) {
  :root {
    font-size: 16px;
  }
  section {
    &.homePage {
      .infoBlock {
        &.right {
          top: 15%;
          right: 7%;
        }
        &.left {
          top: 15%;
          left: 7%;
        }
      }
    }
  }
}
@media (max-width: 460px) {
  :root {
    font-size: 14px;
  }
  section {
    &.homePage {
      .infoBlock {
        &.right {
          top: 15%;
          right: 5%;
        }
        &.left {
          top: 15%;
          left: 5%;
        }
      }
    }
  }
}

@keyframes opacityText {
  0% {
    opacity: 0.8;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 0.8;
  }
}
